vid/manipulationArticulation.mp4 filter=lfs diff=lfs merge=lfs -text
vid/crack-rend.mp4 filter=lfs diff=lfs merge=lfs -text
vid/crack-rend.webm filter=lfs diff=lfs merge=lfs -text
vid/crack-rend.ogg filter=lfs diff=lfs merge=lfs -text