body {
  box-sizing: border-box;
  font-family: menlo, monospace, sans-serif;
  max-width: 750px;
  padding: 0 2rem;
}

ul,
h2 {
  padding: 0;
}

li {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.tab {
  margin-right: 3rem;
}
