body {
  margin: 0;
  box-sizing: border-box;
  background-color: black;
}

img {
  margin-top: 4px;
  vertical-align: center;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 50%;
  max-width: 30%;
  padding: 0 4px;
}

/* correct width for text */
.text-column {
  flex: 50%;
  max-width: 75%;
  padding: 0 4px;
}

.to-top {
  bottom: 100vh;
}

#bib {
  font-family: Futura, "Trebuchet MS", Arial, sans-serif;
  background-color: darkviolet;
  color: bisque;
  margin: 10vh;
  padding: 10vh;
  height: 50vh;
}

.entry {
  font-size: 2.25vh;
}

.headfoot {
  font-size: 4vh;
  text-align: center;
}


