body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

#bucket {
  display: flex;
  justify-content: center;
  align-items: center;
}

#img-bucket {
  width: 75vw;
  height: 75.75vw;
  display: flex;
  flex: none;
  justify-content: center;
  align-items: center;
  background-color: #f0f2f5;

  /* border-style: solid;
  border-color: rgb(211, 209, 209);
  border-width: 0 1px 0 1px; */
  border: 1px solid lightgrey;
  /* overflow: hidden; */
  margin: 10px 0;
}

img {
  width: 100%;
  height: 100%;
}

.btn {
  background-color: lightblue;
  border-radius: 10px;
  padding: 5px 15px;
}

#mult {
  border-color: lightsalmon;
}

.container {
  display: flex;
  padding: 0 10px;
}

.adjustments {
  border: 5px double coral;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
}

/* basic slider found online */
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  margin: 6px auto 15px auto;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #964caf;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #964caf;
  cursor: pointer;
}

.stashes {
  display: flex;
  justify-content: space-between;
}
.stash-input {
  display: inline-block;
}

.sides {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  h1 {
    font-size: 0.5rem;
  }
}

@media screen and (min-width: 1000px) {
  #img-bucket {
    width: 75vh;
    height: 75.75vh;
  }
}
